@model DirectorViewModel

<form method="post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Actor</h2>
            <hr />
            <div class="mb-3">
                <label asp-for="FullName">Full name</label>
                <input asp-for="FullName" class="form-control"></input>
            </div>
            <div class="mb-3">
                <label asp-for="Nationality">Nationality</label>
                <input asp-for="Nationality" class="form-control"></input>
            </div>
            <div class="mb-3">
                <label asp-for="Birthday">Birthday</label>
                <input asp-for="Birthday" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
            <a asp-controller="Director" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
        </div>
    </div>
</form>

